#GUI{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
}
body {
    border: 0;
    background-color: white;
    margin:0px;
    padding:0px;
    user-select: none;
  }
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

button, input, form{
    pointer-events: auto;
}

#backdialog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondPopup{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 40px 9px black;
    border-radius: 10px;
}

#CreerPartie{
    background:url('src/images/Creer.png');
    width:818px;
    height:111px;
    border:none;
}
#CreerPartie:hover{
    background:url('src/images/Creer_over.png');
}
#RejoindrePartie{
    background:url('src/images/Rejoindre.png');
    width:1003px;
    height:123px;
    border:none;
}
#RejoindrePartie:hover{
    background:url('src/images/Rejoindre_over.png');
}

#Quitter{
    background:url('src/images/Quitter.png');
    width:450px;
    height:106px;
    border:none;

}
#Quitter:hover{
    background:url('src/images/Quitter_over.png');
}

#history{
    padding: 6px;
    height: 300px;
    pointer-events: auto;
    overflow: auto;
    background-color: rgba(90, 90, 90, 0.61);
    color: white;
    box-shadow: inset 0 0 6px black;
}

#chat{
    display: flex;
    flex-direction: column;
}

#listeJoueur{
    display: flex;
    flex-direction: column;
    color: darkred;
    font-weight: bold;
    padding:5px;
    background: rgba(255, 255, 255, 0.41);
    box-shadow: inset 0 0 6px 0px black;

}

#joueurs{
    position: absolute;
    right: 0px;
    width: 220px;
    display: flex;
    flex-direction: column;
}

button {
    background: rgb(255, 242, 242);
    border-radius: 5px;
    padding: 6px;
    color: DARKRED;
    font-weight: bold;
    border: 6px double #780000;
}

button:hover {
    background: #4c1b1b;
    color: white;
}

input[type="text"], select {
    border: none;
    padding: 4px;
    color: darkred;
    margin: 2px;
    background: rgba(255, 255, 255, 0.82);
    border: 1px solid;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.14);
}

@keyframes change-color {
    0%{ color:darkred; }
    100%{ color:darkgreen; }
}
    
#titrePropriete{
    text-align: center;
    padding: 5px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 4px;
}

div#parc {
    font-family: verdana;
    font-weight: bold;
    padding: 10px 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset -9px -7px 20px rgba(0, 0, 0, 0.55);
    font-size: 30px;
    border-bottom-right-radius: 30px;
    color:darkred
}

div#parc::before {
    content: 'Parc gratuit : ';
}

div#notification {
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification {
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-family: verdana;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.55);
}

.notification.hide {
    animation-name: slideInUp;
    animation-duration: 500ms;
    opacity:0
}

.notification{
    animation-name: slideInDown;
    animation-duration: 500ms;
}

@keyframes slideInDown{
    0% { transform: translateY(-100%);
    opacity:0;
    }
    100% { transform: translateY(0%);
    opacity:1;}
}

@keyframes slideInUp{
    100% { transform: translateY(-100%);
    opacity:0;
    }
    0% { transform: translateY(0%);
    opacity:1;}
}